//// section container
.section-container {
   padding: 10rem 1rem;
   max-width: 1440px;
   margin: 2rem auto;
   @media screen and (max-width:425px) {
      padding: 0.5rem;
   }
}



.section_title {
   font-size: 2.75rem;
   font-weight: 800;
   text-align: center;
   color: var(--black-color);
   text-transform: capitalize;

   span{
      color: var( --secondary-color);
   }
}

.tab-active{
   background-color: var(--secondary-color) !important ;
   color: white;
}

a{
   text-decoration: none;
   color: var(--black-color);
   cursor: pointer;
}